[Unit]
AssertPathExists=/usr/bin/hello

[Service]
WorkingDirectory=/home/kinhotel/kinhotelrust
ExecStart=/usr/bin/kin
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
Alias=hello
WantedBy=default.target