[Unit]
Description=kinhotelserver

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/root/kinhotel/kinhotelrust/target/debian/kinhotelserver_0.1.0_amd64

[Install]
WantedBy=multi-user.target