[Unit]
Description=Web Application Example from steadylearner

[Service]

WorkingDirectory=/home/kinhotel/kinhotelrust
Environment="ACTIX_ENV=prod"
Environment="ACTIX_ADDRESS=0.0.0.0"
Environment="ACTIX_PORT=8000"
Environment="ACTIX_LOG=critical"
ExecStart=/home/kinhotel/kinhotelrust/target/release/kinhotelserver

[Install]
WantedBy=multi-user.target